body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

html,
body {
  min-width: 1200px;
  min-height: 933px;
}

img {
  max-width: 100%;
  height: auto;
}

.features-list p,
.main-footer p,
.container p {
  line-height: 1.86;
  color: #333333;
}

.button {
  font: inherit;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0px;
}

.header-logo {
  width: 140px;
  height: 71px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 2;
}

.site-navigation li {
  min-width: 239px;
}

.site-navigation li:nth-child(3) {
  margin-left:  244px;
}

.nav-information {
  margin-right: 1px;
}

.nav-gallery {
  margin-left: 6px;
}

.nav-map {
  margin-right: 2px;
}

.nav-catalog {
  margin-left: 16px;
}

:focus {
outline: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-navigation,
.container,
.main-footer {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  display:flex;
  margin: 0 auto;
  line-height: 1.86;
  font-weight: bold;
  padding: 0;
  min-height: 56px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.welcome-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 648px;
  margin: 0 auto;
  background: url("../img/main-intro3.jpg") no-repeat;
  background-position: 0% -56px;
  padding-top: 76px;
}

.welcome-image {
  margin-bottom: 22px;
  height: 353px;
}

.polygon-image {
  width: 1200px;
  height: 59px;
}

.about {
  width: 489px;
  height: 110px;
  margin-top: 58px;
}

.features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 1200px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 1200px;
}

.features-list h2 {
  line-height: 21px; ;
}

.features-list h2,
.features-list p {
  margin: 0;
}

.features-list img {
display: block;

}
.feature-town h2,
.feature-road h2,
.feature-tourist h2 {
  margin-right: 75px;
  margin-left: 75px;
}

.feature-town,
.feature-bridge,
.feature-square,
.feature-road,
.feature-tourist  {
  width: 400px;
  min-height: 256px;
  z-index: 2;
}

.feature-square,
.feature-road,
.feature-tourist {
  background-color: #eeeeee;
}

.feature-town,
.feature-bridge,
.feature-town p,
.feature-bridge p {
background-color: #81b3d2;
color: #ffffff;
}

.feature-bridge,
.feature-square,
.feature-road,
.feature-tourist {
padding-top: 48px;
padding-left: 48px;
padding-right: 48px;
}

.feature-tourist p {
padding-right: 23px;
padding-left: 25px;
}

.feature-bridge {
  padding-top: 47px;
}

.features-list li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feature-town {
  padding: 48px 60px 42px;
}

.feature-motel {
  padding-left: 73px;
  padding-right: 73px;
}

.feature-food {
  padding-left: 55px;
  padding-right: 55px;
}

.feature-souvenir {
  padding-left: 63px;
  padding-right: 63px;
}

.feature-square {
  padding-left: 95px;
  padding-right: 95px;
}

.feature-road {
  padding-left: 65px;
  padding-right: 65px;
}

.feature-motel,
.feature-food,
.feature-souvenir {
  position: relative;
  min-height: 330px;
  width: 400px;
}

.feature-motel h2,
.feature-food h2,
.feature-souvenir h2 {
  margin-top: 163px;
  margin-bottom: 23px;
}

.number {
  display: block;
  margin-top: 27px;
  margin-bottom: 23px;
}

.feature-motel h2::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
}

.feature-food h2::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 163px;
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-3.svg");
}

.feature-souvenir h2::before {
  content: "";
  position: absolute;
  top: 56px;
  right: 168px;
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-2.svg");
}

.features-list p {
  line-height: 1.5;
}

.book-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 1200px;
  height: 764px;
  background: url("../img/map.jpg") 0px 291px no-repeat;
}

.frame {
  position: absolute;
  top: 291px;
  left: 0px;
}

.interest {
  padding-top: 51px;
  width: 460px;
  min-height: 154px;
  z-index: 2;
  background-color: #ffffff;
}

.interest h3 {
  margin-top: 0px;
  margin-bottom: 24px;
}

.interest p {
  margin: 0;
  padding-top: 3px;;
}

.modal-book {
  z-index: 1;
  width: 568px;
  height: 395px;
  background-color: #ffffff;
  -webkit-animation-name: slideDown;
          animation-name: slideDown;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  animation-direction: reverse;
}

@-webkit-keyframes slideDown {
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes slideDown {
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.modal-show {
  display: block;
  }

.modal-hide {
  display: none;
}

.booking-form {
  padding-left: 56px;
  padding-right: 46px;
  text-align: left;
}

.check-in-form,
.check-out-form {
  display: inline-block;
  vertical-align: middle;
  margin-left: 22px;
  padding-left: 12px;
  width: 300px;
  height: 38px;
  text-transform: uppercase;
}

.check-out-form {
  margin-left: 18px;
  padding-left: 13px;
}

 .check-in {
  margin-top: 54px;
}

.check-out {
  margin-top: 28px;
}

.adults,
.children {
  display: inline-block;
  margin-bottom: 49px;
  vertical-align: baseline;
}

.adults {
  margin-right: 50px;
}

.main-footer {
  position: relative;
  width: 1200px;
  min-height: 121px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9);
  z-index: 2;
}

.hashtag-container {
  margin-top: 46px;
  margin-left: 132px;
  width: 136px;
  height: 16px;
}

.footer-social {
  margin-top: 36px;
  margin-left: 250px;
  width: 156px;
  height: 48px;
  text-align: center;
}

.footer-social li {
  position: relative;
}

.twitter::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 17px;
  height: 15px;
  background-image: url("../img/tw-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.facebook::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 12px;
  height: 22px;
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.youtube::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 20px;
  height: 16px;
  background-image: url("../img/youtube-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.copyright-container {
  margin-top: 39px;
  margin-left: 226px;
  width: 202px;
  min-height: 41px;
}

.copyright-container p {
  margin: 0;
}

.filter-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding-top: 27px;
  padding-bottom: 8px;
  min-height: 181px;
}

.filter-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
  text-align: left;
  padding-bottom: 30px;
}

.filter-result h2 {
  margin: 0;
  margin-top: 31px;
  margin-left: 31px;
  margin-left: 72px;
}

.found-quantity {
  margin-left: 72px;
  display: inline-block;
  min-height: 16px;
  margin-top: 32px;
  font-size: 21px;
  font-weight: bold;
}

.filter-result button {
  font-size: 12px;
  background-color: #ffffff;
  margin-top: 38px;
  font-weight: normal;
}

.sort {
  color: #000000;
  margin-left: 42px;
}

.sort-price {
  margin-left: 27px;
  color: #81b3d2;
}

.sort-type,
.sort-rating {
  color: rgba(0, 0, 0, 0.3);
  padding: 0;
  border-bottom: thin dotted #81b3d2;
}

.sort-type {
  margin-left: 28px;
}

.sort-rating {
  margin-left: 34px;
}

.sort-type:hover,
.sort-rating:hover {
  color: #81b3d2
}

.sort-type:active,
.sort-rating:active {
  color: #000000;
  border-bottom: none;
}

.up,
.down {
  width: 11px;
  height: 10px;
  padding: 0;
}

.up {
  margin-left: auto;
  margin-right: 12px;
}

.down {
  margin-right: 73px;
}

.up path {
  fill: #cacaca;
}

.down path {
  fill: #81b3d2;
}

.up:hover path,
.down:hover path {
  fill: #231F20;
}

.up:active path,
.down:active path {
  fill: #81b3d2;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px;
  border-top: 1px solid white;
  margin: 0;

}
.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 30px;
  padding-left: 72px;
  min-height: 121px;
  border-bottom:  1px solid #f2f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

}

.catalog-item-image {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  width: 135px;
}

.item-properties-container {
  margin-left: 30px;
  margin-top: 1px;
  min-width: 258px;
  text-align: left;
}

.item-properties-container h2{
  margin: 0;
  margin-bottom: 7px;
  margin-top: -5px;
}

.catalog-item-action {
  margin: 0;
  margin-top: 14px;
}

.features-list,
.site-navigation,
.catalog-list {
  list-style: none;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #766357;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.about h1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  margin: 0;
}

.about p {
margin: 0;
margin-top: 27px;
}

.interest h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 18px;
}

h3 + p {
  line-height: 1.71;
}

.modal-book-button {
  font-size: 21px;
  width: 568px;
  height: 86px;
  background-color: #766357;
  z-index: 2;
}

.modal-book-button:hover {
  background-color: #604e43;
}

.modal-book-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3)
}

.modal-book input,
.modal-book label,
.filter label {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.86;
  text-align: left;
  border: none;
}

.modal-book input[type="number"] {
  text-align: end;
  width: 38px;
  height: 38px;
  padding: 0;
  margin-left: -4px;
}

.modal-book input {
  background-color: #f2f2f2;
}

.modal-book input:hover {
  background-color: #ebebeb;
}

.modal-book input:focus {
  background-color: #ffffff;
}

.calendar-in {
  height: 40px;
  width: 35px;
  padding: 0;
  margin-left: -4px;
 }

.calendar-in path,
.calendar-out path {
  fill: #cacaca;
}

.calendar-in:hover path,
.calendar-out:hover path {
  fill: #000000;
}

.calendar-in:active path,
.calendar-out:active path {
  fill: #81b3d2;
}

.calendar-out {
  height: 40px;
  width: 35px;
  padding: 0;
  margin-left: -4px;
}

.reduce,
.add {
  font-size: 14px;
  width: 38px;
  height: 38px;
  color: #cacaca;
  background-color: #f2f2f2;
  margin-bottom: 5px;
}

.reduce {
  margin-left: 35px;
  position: relative;
}

.add {
  margin-left: -4px;
  font-size: 24px;
}

.minus {
  display: inline-block;
  position: absolute;
  font-size: 24px;
  top: -8px;
  right: 13px;
  vertical-align: baseline;
}

.children label {
  margin-right: -10px;
}

.reduce:hover,
.add:hover {
  color: #000000;
}

.reduce:active,
.add:active {
  color: #81b3d2;
}

.modal-book input::-webkit-input-placeholder  {
color: #000000;
}

.modal-book input::-moz-placeholder {
color: #000000;
}

.submit {
  margin-left: -1px;
  font-size: 21px;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
}

.submit:hover {
  background-color: #669ec0;
}

.submit:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
}

.footer-social li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  margin-left: 6px;
}

.footer-social li:hover {
  background-color: #669ec0;
}

.footer-social li:active {
  background-color: #5496bd;
}

.academy-logo {
display: inline-block;
margin-left: 5px;
vertical-align: middle;
}

.academy-logo:hover path {
fill: #81b3d2;
}

.academy-logo:active path {
fill: #bdbbbc;
}


.footer-copyright b {
  display: inline-block;
  margin-top: 7px;
  line-height: 1.86;
  font-weight: normal;
  min-height: 11px;
  vertical-align: top;
}

.catalog-item-title {
  font-weight: bold;
  line-height: 1.24;
  text-align: left;
}

.catalog-item-title:hover {
  color: #81b3d2;
}

.catalog-item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-category,
.catalog-item-price {
  color: #333333;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  width: 100px;
}

.catalog-item-price {
  margin-left: 13px;
}

.button-book,
.button-info  {
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.button-info {
  background-color: #81b3d2;
  display: inline-block;
  width: 110px;
  min-height: 27px;
  vertical-align: bottom;
  line-height: 27px;
}

.button-book {
  background-color: #81b3d2;
  display: inline-block;
  width: 142px;
  min-height: 27px;
  margin-left: 3px;
  vertical-align: bottom;
  line-height: 27px;
}

.button-info:hover {
  background-color: #669ec0;
}

.button-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-book {
  background-color: #766357;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-item-rating {
  line-height: 28px;
  color: #666666;
  background-color: #f2f2f2;
  margin-left: auto;
  margin-top: 63px;
  margin-bottom: 0px;
  margin-right: 73px;
  height: 27px;
  width: 110px;
  line-height: 28px;
  white-space: pre;
}

.catalog-item:first-child::before {
  content: "";
  position: absolute;
  left: 1039px;
  top: 0px;
  width: 89px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: space no-repeat;
  background-position: 0 0;
}

.catalog-item:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 1063px;
  top: 0px;
  width: 65px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: space no-repeat;
  background-position: 0 0;
}

.catalog-item:last-child::before {
  content: "";
  position: absolute;
  left: 1087px;
  top: 0px;
  width: 41px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: space no-repeat;
  background-position: 0 0;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* фильтр */
.filter-range {
  width: 318px;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: 43px;
}

.filter-range-title {
  margin-bottom: 10px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 1px;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}

.min-price {
  margin-top: -1px;
  margin-left: -2px;
}

.max-price {
  margin-top: -1px;
  margin-left: 3px;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 55px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-button {
  position: absolute;
  top: 148px;
  left: 895px;
  width: 137px;
  min-height: 36px;
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: normal;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent {
  display: none;
  margin-left: 85px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

/* filter fieldset */

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters {
  min-width: 1100px;
  color: #ffffff;
  margin-left: 71px;
}

.filter fieldset {
  padding: 0;
  border: none;
}

.fieldset-filter {
  margin-left: 0;
  margin-right: 0;
}

.fieldset-filter2 {
  margin-left: 115px;
  text-align: left;
}

.filter legend {
  margin-bottom: 26px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  margin-left: 2px
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 43px;
}

.filter-option label {
  position: relative;
  font-weight: normal;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fieldset-filter label {
  margin-left: -2px;
  margin-top: -1px;
}

.fieldset-filter2 label {
  margin-left: 0;
  margin-top: -1px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -41px;
  top: 1px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -41px;
  top: 1px;
  width: 26px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  background: transparent;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.5;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -36px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}
